<div class="content">
    <div class="main-cover">
      <div class="main-cover-title">
        <span>BORN TO RUN</span>
        <h3>Another website for runners</h3>
      </div>
    </div>
    <div class="container section-container">
        <div class="row">
        <div class="card text-center col-12 col-sm-4">
          <div class="card-body">
            <img src="assets/shoe-prints.png">
            <h2 class="section-title">Events</h2>
            <div class="card-text">
              <h4>Look up details of forthcoming events.</h4>
            </div>
            <button class="btn btn-primary">Events</button>
          </div>
        </div>
        <div class="card text-center col-12 col-sm-4">
          <div class="card-body">
            <img src="assets/shoe-prints.png">
            <h2 class="section-title">Results</h2>
            <div class="card-text">
              <h4>Find out the results of any running event.</h4>
            </div>
            <button class="btn btn-primary">Results</button>
          </div>
        </div>
        <div class="card text-center col-12 col-sm-4">
          <div class="card-body">
            <img src="assets/shoe-prints.png">
            <h2 class="section-title">Gear</h2>
            <div class="card-text">
              <h4>Read reviews of the latest gear by fellow runners.</h4>
            </div>
            <button class="btn btn-primary">Gear</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <p>Bacon ipsum dolor amet consectetur tongue flank fugiat turkey ball tip nulla sunt deserunt sed ad. Deserunt strip steak
        shank, corned beef chuck filet mignon quis incididunt tail sed jowl short ribs tongue. Frankfurter quis ad pig pork
        belly meatloaf spare ribs, voluptate cow. Corned beef in fatback ut enim, exercitation hamburger ex eu pastrami laboris
        dolor irure frankfurter meatloaf. Sunt doner exercitation nulla chicken drumstick ex officia sirloin incididunt aute
        swine anim leberkas lorem.</p>
  
      <p>Ham hock consequat occaecat do quis turducken meatloaf incididunt commodo. Salami meatball meatloaf, consectetur elit
        pig cupidatat brisket tail irure fugiat. Ground round picanha landjaeger occaecat non nisi tongue salami eiusmod. Et
        short ribs velit chuck in. Occaecat labore bacon cow rump jerky t-bone turkey frankfurter et. Elit commodo lorem, salami
        nulla nisi jerky adipisicing velit. Porchetta beef ipsum, beef ribs elit sausage deserunt non.</p>
  
      <p>Ham sed proident brisket commodo fugiat beef eiusmod filet mignon et fatback ipsum. Meatloaf commodo pork loin kielbasa.
        Ad cupidatat exercitation shank andouille. Chicken bresaola swine tempor venison jowl.</p>
  
      <p>Andouille non irure ball tip bacon, strip steak pork chop sed flank laboris cupidatat meatball veniam pig. Chicken pancetta
        kevin, ut salami in do excepteur flank. Minim consectetur nostrud aliquip filet mignon ut jowl frankfurter turkey ribeye
        kevin drumstick laboris velit culpa. Pork bacon kielbasa pork chop voluptate. Frankfurter qui cillum, anim jowl ham
        hock ham salami pig consequat pork venison excepteur eu ipsum.</p>
  
      <p>Sirloin quis tenderloin eiusmod. Deserunt dolore ribeye ex fatback. Hamburger brisket spare ribs bacon rump laboris exercitation
        velit aliqua consectetur est qui short loin bresaola pork. Filet mignon laboris pork chop esse exercitation prosciutto
        commodo, consectetur veniam kielbasa drumstick ball tip ea. Pig consectetur ea cupim officia capicola, enim esse adipisicing
        jerky biltong kevin do drumstick. Esse sed consectetur, bacon cupidatat meatloaf qui aliqua ullamco andouille deserunt.</p>
  
      <p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </div>
  </div>
  <footer>
  </footer>